
{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="row">
  <div class="col-md-12 profileContainer">
      <div class="userInfoContainer">
        <h1 id="userNameTitle" class="main-font">{{request.user}}</h1>
        <img id="profileImg" src="{% static 'images/profile_image.png' %}" alt="profile_image">
      </div>
      <div class="streakInfoContainer">
        <div class="card streakCard">
              <div class="card-content streakCard-content">
                <h1 id="streakNum">Highest Streak <i class="fas fa-fire"></i>: {{highestStreak}}</h1>
              </div>
        </div>
      </div>
  </div>
</div>

<div class="row">

  <div class="col-md-12 statsContainer">
    <div class="heading-info">
      <h1 class="main-font">Habits</h1>
      <h1 class="main-font"> Days</h1>
     </div>
     {% for habit in habits %}
      <div class="row habitTrackingInfo">
          <div class="habitsProfileInfo">
              <div class="card habitCard-{{habit.id}} profile-card" id="{{habit.id}}">
                <div class="card-title">
                  <h3 class="card-title">{{habit.name}} </h3>
                </div>
                <div class="card-content">
                  <p>Goal: {{habit.goal}}</p>
                </div>
              </div>
            </div>
          <div class="streakHabitInfo">
            <div class="card streak-card">
              <div class="card-title">
                <h3 class="card-title">{{habit.completed_count}} </h3>
              </div>

            </div>
          </div>
        </div>
    {% endfor %}
  </div>

</div>


{% endblock %}
